{% load static %}

<!--Firmtorch
-->
<!DOCTYPE HTML>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='//fonts.googleapis.com/css?family=Quattrocento+Sans' rel='stylesheet' type='text/css'>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--slider-->
<link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="{% static 'js/jquery-1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nivo.slider.js' %}"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</head>
<body>
<div class="btm_border">
<div class="h_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<h1><a href="/" class="navbar-brand">BCtutor</a></h1>
		</div>	
		<div class="clear"></div>
	</div>
	<div class='h_btm'>
		<div class='cssmenu'>
			<ul>
				<li class='active'><a href='/'><span>Home</span></a></li>
				{% if user.is_authenticated %}
			    <li><a href='/dashboard'><span>Dashboard</span></a></li>
			    <li><a href='/logout'><span>Logout</span></a></li>
				{% else %}
			    <li><a href='/register'><span>Create Account</span></a></li>
				<li><a href='/login'><span>Sign In</span></a></li>
			    <li class='last'><a href='/contact'><span>Contact</span></a></li>
				{% endif %}
			 	<div class="clear"></div>
			 </ul>
	</div>
	<div class="search">
    	<form>
    		<input type="text" value="" placeholder="type in anything...">
    		<input type="submit" value="">
    	</form>
	</div>
	<div class="clear"></div>
</div>
</div>
</div>
</div>
{% block body %}
{% endblock %}
<!--footer-->
<div class="footer-bg">	
<div class="wrap">
<div class="footer">
  <div class="box1">
	<h4 class="btm">What We Do</h4>
	<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. ions from the 1914 below for those  by H. Rackham</p>
	<p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those The standard chunk of Lorem Ipsum used since the 1500s is reproduced reproduced</p>
  </div>
   <div class="box1">
	<h4 class="btm">Categories</h4>
	<nav>
		<ul>
			<li><a href="#">The standard chunk of Lorem Ipsum used since </a></li>
			<li><a href="#">Duis a augue ac libero euismod viverra sitth</a></li>
			<li><a href="#">Duis a augue ac libero euismod viverra sit </a></li>
			<li><a href="#">The standard chunk of Lorem Ipsum used since </a></li>
			<li><a href="#">Duis a augue ac libero euismod viverra sit </a></li>
			<li><a href="#">The standard chunk of Lorem Ipsum used since </a></li>
			<li><a href="#">Duis a augue ac libero euismod viverra sit </a></li>
	    </ul>
	</nav>
	</div>
	<div class="box1">
		<h4 class="btm">Get in touch</h4>
		<div class="box1_address">
			<p>Email: <a href="mailto:info@gmail.com">info@bctutor.com</a></p>

		</div>
	</div>
	<div class="clear"></div>			
</div>
</div>
</div>
<!--footer1-->
<div class="ftr-bg">
	<div class="wrap">
		<div class="footer">
		<div class="copy">
			<p class="w3-link">© 2018 BCtutor. All Rights Reserved | Design by&nbsp; <a href="javascript:void"> Firmtorch</a></p>
		</div>
		<div class="clear"></div>	
	</div>
	</div>
</div>
</body>
</html>