{% extends "../base.html" %}

{% block title %} About  {% endblock %}

{% block body %}

<!--main-->
<div class="main_btm">
        <div class="wrap">
        <div class="main">
            <div class="contact">
                        <div class="col span_2_of_4">
                          <div class="contact-form">
                              <h2 class="style">About Beyond Classroom Tutors</h2>

                               <div class="clear"></div>
                                    <div >
                                           <h3 class="style">VISION</h3>
                                         <div class="clear"></div>
                                        <div style="font-size:18px">
                                            <ul>
                                        <li>To inspire the minds of a generation through empowerment</li>
                                    </ul>
                                        </div>
                                    </div>


                                     <div class="clear"></div>
                                    <div class="clear"></div>
                                           <h3 class="style">MISSION</h3>
                                    <div style="font-size:18px">
                                        <ol>
                                            <pre>
                                                <li>To provide access to quality, cognitive and cohesive learning programs taking into account individual learning style</li>
                                                <li>Enriching and engaging human and capital resources for innovation</li>
                                                <li>To Foster a learning platform that incorporates leadership, effective communication and problem solving skills in its curriculum</li>
                                            </pre>
                                        </ol>

                                    </div>
                              <div>
                                 <div class="clear"></div>
                              <h3 class="style">CORE VALUES</h3>
                                   <div class="clear"></div>
                                  <p style="font-size:18px">At Beyond Classroom Tutorials we hold in high esteem</p>
                                  <div style="font-size:18px">
                                      <ol>
                                        <pre>
                                              <li>Integrity</li>
                                              <li>Innovation</li>
                                              <li>Excellence</li>
                                              <li>Accountability</li>
                                        </pre>
                                      </ol>
                                  </div>
                                  </div>
                          </div>
                      <div class="clear"></div>
                  </div>
            </div>
        </div>
        </div>
        </div>

{% endblock %}