{% extends "../ubase.html" %}

{% block title %}Add new course{% endblock %}

{% block body %}


<div class="main-content">
<div class="main-content-inner">
<div class="breadcrumbs ace-save-state" id="breadcrumbs">
<ul class="breadcrumb">
<li>
<i class="ace-icon fa fa-user home-icon"></i>
<a style="color: #D2691E" href="#">Dashboard</a>
</li>
</ul><!-- /.breadcrumb -->

</div>
<div style="width: 90%;margin:auto; margin-top: 2%">
<div class="col-xs-12" >

<form action="newcourse" method="post" enctype="multipart/form-data">
    {% csrf_token %}
	<hr>
	<div>
		<label for="form-field-8">Course Image</label>

	<input type="file" name="image" value="" required>
	</div>

	<hr style="width: 70%; margin-left: 0%">
	<div>
		<label for="form-field-11">Course Title</label><br>
		<input type="text" name="title" style="width: 70%">
	</div>
	<hr style="width: 70%; margin-left: 0%">

	<div>
		<label for="form-field-11">Course Description</label><br>
		<textarea name="description" style="width: 70%"></textarea>

    </div>
    
    <hr style="width: 70%; margin-left: 0%">
	<div>
		<label for="form-field-11">Course Price</label><br>
		<input type="number" name="price" style="width: 70%">
	</div>
    <hr style="width: 70%; margin-left: 0%">
    
	<button type="submit" name="submit1" class="btn btn-default">Sign up</button>
	</div>
</form>									
</div><!-- /.page-content -->
</div>
</div>

{% endblock %}